
<div class="row">
  <div class="col-md-4">
    <id= img>
    <%= image_tag("left-side-head.jpg", class: "img-responsive image_location1") %>
  </div>


  <div class="col-md-4">
    <img src="https://scontent-a.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/2169_554901171702_3760_n.jpg?oh=91f7de3e2e29e7e8d27110ff89a206b5&oe=54E69DCC"
      class="img-repsonsive image_location2">
  </div>
</div>


<footer>
  <div class="container">
    <!-- footer stuff here -->
  </div>
</footer>
