<body>

  <div class= "container">
    <div class="row">

      <div class="col-md-4">
        <h3>Services for Hire:</h3>
        <ul>
          <li>Performance - Weddings, Funerals, Holiday Services</li>
          <br>
          <li>Music Lessons - Lessons that are scheduled at least one a week with a
            time minimum of 45 minutes per family.</li>
          <br>
          <li>One-time use lessons for audition or concert prepartion.</li>
        </ul>
      </div>

      <div class="col-md-4">
        <id= img>
        <%= image_tag("left-side-head.jpg", class: "img-responsive image_location1") %>
      </div>

    </div>
  </div>
</div>
