
<div class="jumbotron">
  <div class="container">
  <h2>Denise McCoy, Music Teacher</h2>
  <h5>Woodwinds, Piano, Voice, Cello, Guitar</h5>
  <%= yield %>
</div>
  </div>



<div class="row">
    <img src="https://scontent-a.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/2169_554901171702_3760_n.jpg?oh=91f7de3e2e29e7e8d27110ff89a206b5&oe=54E69DCC" class="img-repsonsive">
    <br>
    <br>

  </div>




<footer>
  <div class="container">
    <!-- footer stuff here -->
  </div>
</footer>
