<div class="navbar">
  <div class="container">
    <!-- navbar here -->
  </div>
</div>



<div class="container">
  <h2>Denise McCoy, Music Teacher</h2>
  <h5>Woodwinds, Piano, Voice, Cello, Guitar</h5>
  <%= yield %>
</div>



<footer>
  <div class="container">
    <!-- footer stuff here -->
  </div>
</footer>
