@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron {
  background-color: #339966;
  border: black;
  font-family: "Comic sans MS";
  text-align: left;
  min-width: 1140px;
  margin: top 15px;
  margin: right 15px;
}

.image_location1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 200px;
}

.image_location2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 200 px;
}
.navbar-header
 {
  text-decoration-color: #FFFFFF;

}
