@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: image-url("symphony.png");
  background-size: 15%;
}




.image_location1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 200px;
}



h2 {
  color: whitesmoke;

}

h5 {
  color: whitesmoke;
}
