
<!-- <% if current_user %>
<h2>Welcome <%= current_user.first_name %>!</h2>
<%= link_to "Lesson Schedule", root_path, class: "navbar-brand" %>
<%=  link_to_unless_current "Account Info", about_path, class: "navbar-brand" %>
<%= link_to_unless_current "Resources", lessons_path, class: "navbar-brand" %>
<% else  %> -->
